@font-face { font-family: 'NexaBold'; src: url('.crookcatcher/fonts/nexa_bold.otf'); }
@font-face { font-family: 'NexaLight'; src: url('.crookcatcher/fonts/nexa_light.otf'); }
@font-face { font-family: 'Coolvetica'; src: url('.crookcatcher/fonts/coolvetica.ttf'); }

html{
  background-color: #222;
  height: 100%;
}

body{
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.jakobharteg{
  position: absolute;
  color: white;
  font-size: 14px;
  opacity: 0.25;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  padding: 32px;
  margin: 0;
  line-height: 22px;
}

.container.center{
    display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
}

@media (min-width: 500px){
    .container.center{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.app{
  margin-right: 5px;
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;
  padding: 30px;
  transition: all 0.35s ease !important;
  -webkit-transition: all 0.35s ease !important;
}

.app:hover {
  background: rgba(255, 255, 255, 0.1);
}