@font-face {
    font-family: 'NexaBold';
    src: url('fonts/nexa_bold.ttf');
}
@font-face {
    font-family: 'NexaLight';
    src: url('fonts/nexa_light.ttf');
}
html {
    background-color: #333;
}
body {
    font-family: "NexaLight", "Lato", "Helvetica", "Arial", sans-serif;
    background-image: url('images/texture_shattered.png');
    background-attachment: fixed;
}
h1, h2, h3, h4, h5{
  font-family: "NexaLight", "Lato", "Helvetica", "Arial", sans-serif;
}

.shattered-background {
    background-image: url('images/texture_shattered.png');

    background-attachment: fixed;
}
.section_80vh {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff !important;
}
.section-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header-logo {
    display: block !important;
    position: absolute;
    left: calc(50% - 100px);
    top: 25px;
    font-family: 'NexaBold', 'Lato';
    font-size: 30px !important;
}
.section {
    position: relative;
    min-height: 50px;
    overflow: hidden;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #232323;
    color: #fff !important;
}
.section-blue{
  background-color: #263238 !important;
}
.no-padding-top {
    padding-top: 0px !important;
}
.no-padding-bottom {
    padding-bottom: 0px !important;
}
.transparent-bg {
    background-color: transparent;
}
.clip-svg{
    /* Absolute position to avoid the svg definiton
    filling a space on the page */
    position: absolute;
}
.section_break_1_shape_1{
  position: absolute;
  width: 100%;
  height: 500px;
  background: #0b8043;
  -webkit-clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
  clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
}
.section_break_1_shape_2{
  width: 100%;
  height: 500px;
  background: #0f9d58;
  -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
  clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 60%);
}
.section_break_2_shape_1 {
    position: absolute;
    width: 100%;
    height: 200px;
    background: #21272b;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
.section_break_2_shape_2 {
    width: 100%;
    height: 200px;
    background: #263238;
    -webkit-clip-path: polygon(0 0, 100% 0, 0 90%);
    clip-path: polygon(0 0, 100% 0, 0 90%);
}

.section_break_3_shape_1 {
position: absolute;
    width: 100%;
    height: 200px;
    background: #21272b;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.section_break_3_shape_2 {
    width: 100%;
    height: 200px;
    background: #263238;
    -webkit-clip-path: polygon(0 10%, 0% 100%, 100% 100%);
    clip-path: polygon(0 10%, 0% 100%, 100% 100%);
}

.section_break_4_shape_1 {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #0b8043;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.section_break_4_shape_2 {
    width: 100%;
    height: 100px;
    background: #0f9d58;
    -webkit-clip-path: polygon(100% 25%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 25%, 0% 100%, 100% 100%);
}

.section_break_5_shape_1 {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #0b8043;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.section_break_5_shape_2 {
    width: 100%;
    height: 100px;
    background: #232323;
    -webkit-clip-path: polygon(0 25%, 0% 100%, 100% 100%);
    clip-path: polygon(0 25%, 0% 100%, 100% 100%);
}

.section_break_6_shape_1 {
  position: absolute;
  width: 100%;
  height: 100px;
  opacity: 0.25;
  background: #232323;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 30% 100%, 0 25%);
  clip-path: polygon(0 0, 100% 0, 100% 25%, 30% 100%, 0 25%);
}

.section_break_6_shape_2 {
  position: absolute;
  width: 100%;
  height: 100px;
  opacity: 0.25;
  background: #232323;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 70% 100%, 0 25%);
  clip-path: polygon(0 0, 100% 0, 100% 25%, 70% 100%, 0 25%);
}

.section_break_6_shape_3 {
  width: 100%;
  height: 100px;
  background: #232323;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.footer_break_shape_1 {
  width: 100%;
  height: 30px;
  opacity: 0.5;
  background: #1b1b1b;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.nopadding-desktop {
    padding-top: 0px;
    padding-bottom: 0px;
}
.lockscreen-video-margin {
    margin-bottom: -100px;
}
.mdl-cell--center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.section_text_left {
    max-width: 450px;
    margin-right: -150px;
    margin-left: auto;
    text-align: left;
    color: white;
}
.section_text_right {
    max-width: 450px;
    margin-right: auto;
    margin-left: -150px;
    text-align: left;
    color: white;
}
.title-line-green {
    margin-top: 35px;
    height: 1px;
    width: 40px;
    background-color: #0f9d58;
    margin-left: auto;
    margin-right: auto;
}
.title-line-white {
    margin-top: 35px;
    height: 1px;
    width: 40px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.screenshot {
    height: 500px;
    width: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.top-play-badge {
    height: 70px;
    bottom: 0;
}
.email-end-paragraph {
    max-width: 700px;
    margin-top: 128px;
    margin-bottom: 128px;
    padding-left: 32px;
    padding-right: 32px;
}
.premium-features-note {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 600px;
    font-weight: 500;
}
.feature {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 32px;
    margin-bottom: 64px;
}
.feature-last {
    margin-bottom: 16px !important;
}
.feature_icon {
    height: auto;
    max-height: 120px;
    margin-right: 50px;
}
.feature_text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.feature_text h4 {
    color: #0f9d58;
    margin-top: -6px;
    margin-bottom: 0px;
}
.feature_text span {
    font-weight: 400;
    font-size: 16px;
}
.header-button:hover {
    opacity: 1;
}
.header-button {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.header-button-right {
    margin-left: auto;
}
.footer {
  opacity: 0.5;
    background-color: #1b1b1b;
    position: relative;
}
.footer-copyright {
    color: white;
    opacity: 0.5;
    margin-left: 16px;
}
.mdl-mini-footer__link-list a {
    color: white;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.mdl-mini-footer__link-list a:hover {
    opacity: 1;
}
.help-section {
    padding: 16px;
}
.help-section p {
    color: white;
    opacity: 0.8;
    margin-bottom: 32px;
}
.top-section-icon {
    height: 200px;
    margin-top: 32px;
    margin-bottom: 40px;
}
.top-section-title {
    color: #fff;
    font-family: 'NexaBold', 'Lato';
    line-height: 1;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
.top-section-subtitle {
  display: block;
  font-family: 'NexaLight', 'Lato';
  font-size: 1em;
}

.section-lockscreen{
  margin-top: -200px;
}
.section-lockscreen p{
  padding-bottom: 150px;
}

.section_gps{
  background: url('images/texture_stardust.png');
}

.section_gps::before, .section_gps::after {
    top: 0;
    left: -25%;
    width: 150%;
    z-index: 1;
    height: 75%;
    background: url('images/texture_stardust.png');
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

.section_gps::before{
  background: #21272b;
  height: 50%;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.11);
}

.section_gps img{
  width: 480px;
  left: 45%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top: 150px;
}

.section_email{
  height: 400px;
}

.section_email::before, .section_email::after {
    top: 0;
    left: -25%;
    width: 150%;
    z-index: 2;
    height: 400px;
    background: #21272b;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

.section_email::before{
  z-index: 3;
  background: #263238;
  height: 400px;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
.mdl-button--grey {
    background-color: #455a64;
    color: white;
}
.padding-16 {
    padding: 16px;
}
.padding-32 {
    padding: 32px;
}
.padding-32 {
    padding: 32px;
}
.margin-right-16 {
    margin-right: 16px;
}
.margin-bottom-16 {
    margin-bottom: 16px;
}
.crookCatcher-font{
    font-family: "NexaBold", "Lato", "Helvetica", "Arial", sans-serif;
    color: #0F9D58;
    font-weight: 500;
}
@media (max-width: 840px) {
    .section {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .feature {
        padding-right: 0px;
    }
    .feature-last {
        margin-bottom: 64px !important;
    }
    .section_text_left {
        padding: 24px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
    }
    .section_text_right {
        margin-left: auto;
        margin-right: auto;
        padding: 24px;
        text-align: center;
        color: white;
    }
    .top-play-badge {
        height: 80px;
        position: relative;
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 32px;
    }
    .section-lockscreen{
      margin-top: -200px;
      padding-top: 200px;
      padding-bottom: 50px;
    }
    .section-lockscreen p{
      padding-bottom: 0px;
    }
    .section_gps img{
      width: 40%;
      right: -50px;
      position: absolute;
      margin-top: 320px;
    }
    .email-end-paragraph {
        padding-bottom: 64px !important;
    }
}
@media (max-width: 915px) {
  .screenshot {
      height: 300px;
  }
}
@media (max-width: 580px) {
  .screenshot {
      height: auto;
      width: 70%;
  }
}
@media (max-width: 480px) {
  .top-section-subtitle{
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  .top-section-subtitle{
    font-size: 1.3em;
  }
}


/* ========= ========= ========= Gradients ========= ========= ========= */

.gradient-green500-green700-diagonal {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f9d58+0,0b8043+100 */

    background: #0f9d58;
    /* Old browsers */

    background: -moz-linear-gradient(45deg, #0f9d58 0%, #0b8043 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(45deg, #0f9d58 0%, #0b8043 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(45deg, #0f9d58 0%, #0b8043 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f9d58', endColorstr='#0b8043', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.gradient-email-bg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#313131+0,455a64+100,607d8b+100 */

    background: #313131;
    /* Old browsers */

    background: -moz-linear-gradient(top, #313131 0%, #455a64 100%, #607d8b 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(top, #313131 0%, #455a64 100%, #607d8b 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to bottom, #313131 0%, #455a64 100%, #607d8b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#607d8b', GradientType=0);
    /* IE6-9 */
}
/* ========= ========= ========= browser-mockup ========= ========= ========= */
/* Browser mockup code
 * Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
 * Live example: https://updown.io
 */

.browser-mockup {
    border-top: 2em solid #333;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    position: relative;
    border-radius: 3px 3px 0 0
}
.browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}
.browser-mockup.with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
}
.browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
}
.browser-mockup > * {
    display: block;
}
